Database/x64/
x64/
Database.v12.suo
Database.sdf
Database.VC.db
ipch/DATABASE-f028da03/DATABASE-da2d6d1b.ipch
ipch/DATABASE-f028da03/DATABASE-23566621.ipch
.vs/Database/v14/_suo.doc
ipch/database-af0dee66/database-c8300ddf.ipch
ipch/database-ae64e1ee/database-e3b01099.ipch
ipch/database-ae64e1ee/database-c8300ddf.ipch
